@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: black;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: GeistMono, monospace;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #4a4a4a #1d1d1d;
}

.custom-scrollbar::-webkit-scrollbar {
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1d1d1d;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4a4a4a;
  border-radius: 4px;
  border: 2px solid #1d1d1d;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #5a5a5a;
}
